    body{
      background:#f8f9fa;
    }

    .product-card{
      border:none;
      border-radius:15px;
      overflow:hidden;
      transition:0.3s;
    }

    .product-card:hover{
      transform:translateY(-5px);
      box-shadow:0 10px 20px rgba(0,0,0,0.1);
    }

    .product-card img{
      height:250px;
      object-fit:cover;
    }

    .filter-box{
      background:white;
      padding:20px;
      border-radius:15px;
    }

    .category-link{
      text-decoration:none;
      color:black;
      display:block;
      margin-bottom:10px;
    }

    .category-link:hover{
      color:#0d6efd;
    }
